.primary-button{
    padding: 10px 20px;
    width: 100%;
    height: 55px;
    background-color: #1E523E;
    color: white;
    border-radius: 15px;
    border: 1px solid #1E523E;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
.primary-button:active{
    background-color: transparent;
}
@media screen and(max-width:325px) {
    .primary-button {
        padding: 10px 20px;
        width: 100%;
        height: 55px;
        background-color: #1E523E;
        color: white;
        border-radius: 15px;
        border: 1px solid #1E523E;
        font-weight: bold;
        font-size: 17px;
        cursor: pointer;
    }
}
