/* .container{
    --fre: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 0rem;
} */

.resetPassword-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 6rem;
}
.resetPassword-div .resetPassword-header{
    width: 100%;
    margin-top: 3.5rem;
}
.resetPassword-header h1{
    font-size: 45px;
    color: white;
    font-weight: bold;
}
.resetPassword-header p{
    margin-top: 40px;
    font-size: 17px;
    color: white;
    width: 200px;
}
.resetPassword-div .resetPassword-form-div{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 6rem;
}
.resetPassword-form-div .input-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}
.input-div .input-text{
    width: 70px;
    height: 70px;
    border: 2px solid #1E523E;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}
