.admin-dashboard-container{
    width: 100%;
    height: 89.6vh;
    background-color: rgba(249, 249, 249, 1);
    position: absolute;
    right: 0;
    width: 80%;
    border: 1px solid red;
    overflow-x: hidden;
    padding: 1rem 2rem;
}
.admin-dashboard-manage-hostel{
    width: 320px;
}
.admin-dashboard-manage-buttons{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.admin-dashboard-hostel-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
}
.admin-dashboard-hostel-div{
    margin-bottom: 60px;
    width: 280px;
    height: 330px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px 20px;
}
.admin-dashboard-hostel-img-container{
    width: 100%;
    height: 160px;
    position: relative;
}
.admin-dashboard-hostel-img-container img{
    width: 100%;
    height: 100%;
}
.admin-dashboard-available{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 100px;
    height: 30px;
    color: rgba(0, 128, 0, 1);
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.admin-dashboard-available p{
    background-color: rgba(0, 128, 0, 1);
    width: 10px;
    height: 10px;
    border-radius: 10px;
}
.admin-dashboard-short-des{
    margin-top: 15px;
}
.admin-dashboard-short-des span{
    font-size: 23px;
    font-weight: 500;
}
.admin-dashboard-short-des p{
    margin-top: 15px;
    font-size: 26px;
    color: rgba(30, 82, 62, 1);
    font-weight: 700;
}
.icon-add{
    width: 40px;
    height: 40px;
}
.active{
    padding: 10px 20px;
    width: 100%;
    height: 55px;
    background-color: #1E523E;
    color: white;
    border-radius: 15px;
    border: 1px solid #1E523E;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
.inactive{
    padding: 10px 20px;
    width: 100%;
    height: 55px;
    background-color: transparent;
    color: #1E523E;
    border-radius: 15px;
    border: 1px solid #1E523E;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
/* .active{
    background-color: transparent;
} */
.inactive:active{
    background-color: #1E523E;;
}
